@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    /* --top: #3A59D1; */
    --bottom: #c3cdf7;
    --bg2: #f0f0f0;
    --warning: rgb(241, 92, 92);
}
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
input, select{
    background-color: var(--primary);
}
input:focus, select:focus{
    outline: none;
}
button{
    cursor: pointer;
    background-color: var(--bg2);
}
body{
    font-family: "Poppins", sans-serif;
}
.wrapper{
    background-color: var(--bg);
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}
#toggle-menu{
    display: none;
}
nav .logo{
    font-size: 40px;
    color: var(--secondary);
    font-family: "Josefin sans", sans-serif;
    font-weight: 600;
}
nav ul{
    display: flex;
    gap: 10px;
}
.nav-links a{
    color: var(--secondary);
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
}
.nav-links a:hover, .categories button:hover{
    background-color: var(--secondary);
    color: var(--bg);
    transition: background-color 0.3s ease-in;
}
.container{
    max-width: 100%;
}


.total-sale{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bottom);
    border-radius: 5px;
}
.total-sale h2{
    font-size: 25px;
    color: var(--secondary);
    font-weight: 600;
}
.total-sale span{
    color: var(--top);
}
.total-sale p{
    font-size: 18px;
}


.filtering-section{
    display: flex;
    align-items: end;
    padding: 10px;
    gap: 20px;
}
.filtering-section .search-form{
    width: 20%;
}
.filtering-section input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--secondary);
    font-size: 18px;
}
.filtering-section .categories{
    display: flex;
    width: 80%;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
}
.categories button {
    padding: 5px 10px;
    background-color: var(--bg);
    color: var(--secondary);
    border: 2px solid var(--secondary);
    border-radius: 8px;
    font-size: 18px;
    margin-left: 10px;
    white-space: nowrap;
    flex-shrink: 0;
}




.product-section{
    display: flex;
    gap: 5px;
    height: 60vh;
    overflow: hidden;
}
.products-wrapper{
    width: 80%;
    overflow-y: scroll;
    scrollbar-width: none;
}
.products-row{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.products-row .product{
    width: 280px;
    height: 350px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--primary);
    position: relative;
}
.product img{
    width: 100%;
    height: 200px;
    object-fit: contain;
}
.no-image {
    width: 100%;
    height: 200px;
    background-color: var(--bg2);
    position: relative;
}
.no-image h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}
.product p{
    font-size: 24px;
    text-transform: capitalize;
}
.product span{
    font-size: 16px;
}
.stock-quantity {
    display: flex;
    align-items: center;
    gap: 10px;
}
.low-stock{
    background-color: var(--warning);
    color: var(--primary);
    padding: 5px;
    text-transform: capitalize;
    border-radius: 5px;
}
.product .price-section {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: var(--top);
    color: var(--primary);
    font-size: 18px;
    border-bottom-left-radius: 10px;
}

.product button{
    padding: 12px;
    background-color: var(--bottom);
    color: var(--secondary);
    border: none;
    font-size: 18px;
    width: 100%;
}

.cart-container{
    width: 20%;
    background-color: var(--primary);
    padding: 10px;
    overflow-y: scroll;
}

.cart-container h2{
    font-size: 30px;
    text-align: center;
}

.cart-products{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cart-product{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.cart-name{
    font-weight: 500;
    text-transform: capitalize;
}
.cart-products p{
    font-size: 20px;
}
.cart-product .price-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
.cart-product .price-section button{
    padding: 4px 8px;
    font-size: 18px;
}
.times-price{
    color: var(--top);
}
.item-numbers{
    font-size: 18px;
    color: var(--top);
}


.form-container{
    align-self: center;

}
.form-wrapper{
    background-color: var(--bottom);
    padding: 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-container h2{
    font-size: 40px;
    text-transform: capitalize;
}
.form-container form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-container input[type="text"], .form-container input[type="number"], .form-container select{
    padding: 10px;
}
.form-container form input{
    font-size: 18px;
}
.form-container form select{
    font-size: 18px;
}
.form-container form button{
    padding: 10px;
    background-color: var(--top);
    color: var(--primary);
    border: none;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
}
.form-container p{
    font-size: 20px;
}

.report-card-container{
    display: flex;
    justify-content: space-evenly;
}
.report-card{
    width: 25%;
    padding: 30px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: var(--primary);
}
.report-card-container .card-1{
    background-color: #f87171;
}
.report-card-container .card-2{
    background-color: #60a5fa;
}
.report-card-container .card-3 {
    background-color: #34d399;
}
.report-card p{
    font-size: 20px;
    font-weight: bold;
}
.report-card span {
    font-size: 30px;
    font-weight: 400;
}
.chart{
    display: flex;
    justify-content: space-evenly;
}
.reportChart{
    width: 600px;
    height: 400px;
}
.exportBtn{
   color: var(--primary);
   background-color: var(--top);
   border-radius: 8px;
   padding: 10px 15px;
   font-size: 18px;
   width: max-content;
}
.table-wrapper{
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
}
.order-table{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    border-collapse: collapse;
}
.order-table thead{
    background-color: var(--top);
    color: var(--primary);
}
.order-table th,
.order-table td {
    border: 2px solid #ccc;
    padding: 6px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: var(--bg2);
}
tr:hover{
    background-color: #fcfcfc;
}

.actions{
    display: flex;
    align-items: center;
    gap: 10px;
}
.editBtn{
    background-color: var(--bg2);
    color: var(--secondary);
    padding: 6px;
    border-radius: 5px;
    font-weight: 500;
}
.deleteBtn{
    background-color: var(--warning);
    color: var(--primary);
    padding: 6px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
}
.purchase-btn{
    background-color: var(--top);
    padding: 10px;
    font-size: 18px;
    border: none;
    color: var(--primary);
    border-radius: 5px;
    width: 100%;
}
.category-form-img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    background-color: var(--primary);
}

.cat-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cat-header a{
    background-color: var(--bottom);
    color: var(--secondary);
    font-size: 18px;
    border-radius: 5px;
    padding: 10px;
}
.cat-header h1{
    font-size: 24px;
}
.cat-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}
.category-card{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    background-color: var(--primary);
    border-radius: 5px;
    overflow: hidden;
    padding: 5px;
    justify-content: space-between;
}
.category-card img{
    height: 200px;
    width: 100%;
    object-fit: contain;
    border-bottom: 1px solid var(--secondary);
}
.no-image-2 {
    width: 100%;
    height: 200px;
    background-color: var(--bg2);
    position: relative;
    border-bottom: 1px solid var(--secondary);
}
.no-image-2 h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}
.category-card h3{
    font-size: 18px;
    text-transform: capitalize;
}
.cat-action{
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-size: 18px;
}
.cat-action .editBtn, .cat-action form{
    width: 50%;
}
.cat-action .deleteBtn{
    width: 100%;
    font-size: 18px;
}

.date-filter{
    display: flex;
    gap: 10px;
}
.date-filter label{
    font-size: 18px;
}
.date-filter input{
    padding: 10px;
    border: none;
    background-color: var(--bottom);
}
.date-filter button{
    background-color: var(--secondary);
    color: var(--primary);
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 10px;
}


.auth-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-wrapper{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--bg2);
}
.login-wrapper .logo{
    text-align: center;
    font-size: 40px;
    color: var(--secondary);
    font-family: "Josefin sans", sans-serif;

}
.login-form{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
}
.login-form label{
    width: 30%;
    text-align: right;
    font-size: 18px;
}
.login-form input{
    width: 70%;
    padding: 8px 10px;
    font-size: 18px;
}
.login-wrapper button{
    padding: 10px;
    font-size: 18px;
    width: 50%;
    align-self: center;
    margin-top: 10px;
    background-color: var(--top);
    border: none;
    border-radius: 5px;
    color: var(--primary);
}
.login-wrapper p{
    text-align: center;
}

.setting-wrapper{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.setting-container{
    display: flex;
    max-width: 100%;
}
.setting-main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}
.title{
    font-size: 30px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}
.sub-title{
    margin-top: 30px;
}
.account-form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.account-form label, .account-form p{
    font-size: 18px;
    margin-top: 10px;
}
.account-form button, .account-form input{
    width: max-content;
}
.account-form input{
    padding: 10px;
    font-size: 18px;
}
.account-form button{
    border: 2px solid var(--top);
    border-radius: 5px;
    font-size: 18px;
    padding: 8px 10px;
    margin-top: 10px;
    width: 100px;
    background-color: var(--bg);
}
.color-customizaion{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.color-customizaion input[type="text"] {
    width: max-content;
    padding: 10px;
    font-size: 18px;
}

.warning-message{
    color: var(--warning);
    font-size: 16px;
    font-weight: 500;
}
.form-inline{
    display: flex;
    flex-direction: column;
}
.form-inline button, .form-inline input, .form-inline p{
    width: max-content;
    font-size: 18px;
}
.form-inline p, .form-inline button{
    margin-top: 10px;
}
.form-inline input{
    width: 50%;
    padding: 8px 10px;
}
.color-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-inline button, .color-form button{
    padding: 10px;
    width: 100px;
    border: none;
    background-color: var(--top);
    color: var(--primary);
    border-radius: 5px;
    font-size: 18px;
}

.sendDailyReport{
    padding: 10px;
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 5px;
    width: max-content;
}

.users-list-row{
    display: flex;
    justify-content: space-between;
}
.list-header{
    background-color: var(--top);
    color: var(--primary);
    padding: 10px;
}
.list-data{
    background-color: var(--primary);
    color: var(--secondary);
    padding: 10px;
}
.question{
    font-size: 20px;
}
.mobile-cart{
    display: none;
}
.icon-container {
    display: none;
}

@media (max-width: 768px) {
    .icon-container{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .cart{
        width: 30px;
    }
    .cartContainer{
        position: relative;
    }
    .cart_count{
        position: absolute;
        top: -10px;
        right: -8px;
        color: var(--primary);
        z-index: 2;
        width: 25px;
        height: 25px;
        font-weight: bold;
        background-color: var(--warning);
        border-radius: 50%;
        text-align: center;
    }
    .message{
        font-size: 20px;
    }

    .cart-body-wrapper{
        height: 80vh;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    .cart-body{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }
    .cart-body p{
        font-size: 20px;
        font-weight: 600;
    }
    .cart-body .cart-qty{
        display: flex;
        gap: 10px;
        font-size: 16px;
        align-items: center;
    }
    .cart-qty button{
        padding: 4px 8px;
        font-size: 18px;
    }
    .cart-qty span{
        font-size: 18px;
    }
    .total-cart{
        font-size: 20px;
        font-weight: 600;
    }
    .purchase{
        padding: 10px;
        background-color: var(--top);
        color: var(--primary);
        border: none;
        font-size: 18px;
        border-radius: 5px;
        width: 100%;
        margin-top: 10px;
    }
    .wrapper{
        padding: 10px;
    }
    #toggle-menu{
        display: block;
    }
    nav .logo{
        font-size: 24px;
    }
    .nav-links{
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in, opacity 0.3s ease-in;
        position: absolute;
        top: 40px;
        right: 0;
        padding: 15px;
        background-color: var(--primary);
        display: flex;
        flex-direction: column;
        gap: 10px;
        z-index: 1000;
    }
    .nav-links.open{
        max-height: 500px;
        opacity: 1;
    }
    .total-sale p{
        font-size: 16px;
    }
    .total-sale h2{
        font-size: 18px;
    }

    .filtering-section{
        flex-direction: column;
        gap: 20px;
        padding: 0;
    }
    .filtering-section .search-form{
        width: 100%;
    }
    .filtering-section input{
        border-radius: 30px;
    }
    .filtering-section .categories{
        width: 100%;
    }
    .categories button {
        padding: 5px;
    }
    .cart-container{
        display: none;
    }
    .product-section{
        overflow-y: auto;
    }
    .products-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .products-row{
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        scrollbar-width: none;
    }
    .products-row .product{
        flex-shrink: 0;
        height: 300px;
    }
    .product img{
        height: 170px;
    }

    .cat-header h1{
        font-size: 20px;
        font-weight: 500;
    }

    .cat-header a{
        background-color: var(--bottom);
        color: var(--secondary);
        font-size: 16px;
        border-radius: 5px;
        padding: 8px;
    }


    .report-card-container{
        flex-direction: column;
        justify-content: start;
        gap: 10px;
    }
    .report-card-container .report-card{
        width: 100%;
        padding: 10px 0;
        gap: 10px;
    }
    .report-card span{
        font-size: 20px;
    }
    .report-card p{
        font-size: 16px;
    }
    .chart{
        flex-direction: column;
        justify-content: start;
        gap: 50px;
    }
    .reportChart{
        width: 100%;
        height: 250px;
    }


    .form-container{
        max-width: 100%;
    }
    .form-container h2{
        font-size: 24px;
    }
    .form-wrapper{
        width: 100%;
        padding: 20px 10px;
    }
    .setting-container{
        flex-direction: column;
        gap: 10px;
    }
    .setting-main{
        width: 100%;
    }
    .sub-title{
        margin-top: 10px;
    }
}
